
.detailMovie {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &-image {
    flex: 1 1 25%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &-content {
    flex: 1 1 75%;
    
    p {
      padding: 0 0 24px 8px;
    }

    a {
      padding: 0 0 24px 8px;
    }
  }
}

.centerBack {
  display: block;
  margin: 12px 0;
  text-align: center;
}